/* CONTEUDO */
main section {
    background-color: var(--cor-branco);
    padding: 1.9em;
    border-radius: 20px;
    border: 2px solid var(--cor-preto);
    width: 100%;
    max-width: 400px;
    margin: 80px 15px 30px 15px;
}

/* PERFIL DO POKÉMON */
.profile-pokemon {
    text-align: center;
}

#name-pokemon {
    font-size: clamp(24px, 36px, 36px);
    text-transform: uppercase;
}

#id-pokemon {
    font-size: clamp(16px, 24px, 24px);
    color: var(--cor-cinza);
}

#img-pokemon {
    width: 50%;
    height: 50%;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    margin: 10px 0;
}

/* INFORMAÇÕES DO POKÉMON */
.info-pokemon {
    display: flex;
    justify-content: space-between;
    gap: 1.5em;
    margin-bottom: 20px;
}

.info-pokemon div h2,
.evolution h2,
.stats h2 {
    font-size: 32px
}

.info-pokemon div p {
    font-size: 24px;
    color: var(--cor-cinza);
}

#types-pokemon {
    display: flex;
    flex-direction: column;
    gap: .2em;
}

.type-badge {
    display: block;
    padding: .2em 1em;
    border-radius: 20px;
    color: #FFF;
    border: 1px solid var(--cor-preto);
    font-size: 18px;
    text-align: center;
}

/* EVOLUÇÕES DO POKÉMON */
.evolution-img {
    display: flex;
    gap: .7em;
    align-items: center;
}

.evolution-img img {
    max-height: 80px;
}

.evolution-img p {
    font-size: 28px;
}

/* ESTATÍSTICAS DO POKÉMON */
.list-ability {
    display: flex;
    flex-direction: column;
    gap: .8em;
    margin-top: .5em;
}

.ability div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.ability div h3,
.ability div p {
    font-size: 20px;
    text-transform: uppercase;
}

.progress-bar {
    width: 100%;
    height: 0.7em;
    border: 1px solid var(--cor-preto);
    border-radius: 50px;
}

.progress-bar div {
    width: 0%;
    height: 100%;
    border-radius: 50px;
    transition: width 1s;
}

/* HABILIDADES */
#hp-pokemon-bar {
    background-color: #FF5959;
}

#attack-pokemon-bar {
    background-color: #F5AC78;
}

#defense-pokemon-bar {
    background-color: #FAE078;
}

#special-attack-pokemon-bar {
    background-color: #9DB7F5;
}

#special-defense-pokemon-bar {
    background-color: #A7DB8D;
}

#speed-pokemon-bar {
    background-color: #FA92B2;
}

.power {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    gap: .5em;
    margin-top: .8em;
}

.total-power {
    font-size: 36px;
}

.total-power span {
    color: var(--cor-vermelha);
}

.btn-back {
    background-color: var(--cor-amarelo);
    padding: .3em 1.5em;
    font-size: 24px;
    border: 2px solid var(--cor-preto);
    display: block;
    margin-left: auto;
    border-radius: 10px;
    text-decoration: none;
    color: var(--cor-preto);
    transition: .5s;
}

.btn-back:hover {
    background-color: #D4A017;
}

@media (min-width: 768px) {
    main section {
        max-width: 550px;
        width: 100%;
    }

    .div-content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3em;
    }

    .profile-pokemon {
        width: 40%;
        height: 40%;
    }

    #img-pokemon {
        min-height: 150px;
        width: 100%;
    }
}