/* CONTEUDO */
#content {
    background-color: var(--cor-branco);
    border-radius: 20px;
    border: 2px solid #000;
    width: 100%;
    max-width: 500px;
    aspect-ratio: 500 / 720;
    box-shadow: 4px 4px 0 #000, 10px 10px 0 #000;
    overflow: hidden;
    position: relative;
    margin: 0 20px 0 15px;
}

/* TELA */
#display {
    background-color: var(--cor-vermelha);
    height: 63%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: var(--tamanho-borda) solid var(--cor-preto);
}

#content-display{
    background-color: var(--cor-verde-claro);
    width: 80%;
    height: 80%;
    border-radius: 3%;
    border: var(--tamanho-borda) solid var(--cor-preto);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#id-pokemon {
    top: 10px;
    left: 10px;
    position: absolute;
    font-size: clamp(26px, 7vw, 36px);
}

#name-pokemon {
    font-size: clamp(30px, 8vw, 42px);
    text-transform: uppercase;
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

#content-img-pokemon{
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img{
    width: 100%;
    height: 100%;
}

.img-pokemon {
    image-rendering: pixelated;
}

.img-not-found {
    height: 70%;
    image-rendering: auto;
}

/* BOLA */
#circle-pokeball {
    width: 4%;
    height: 2.8%;
    background-color: var(--cor-branco);
    border: var(--tamanho-borda) solid var(--cor-preto);
    position: absolute;
    top: 63.6%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

/* INPUT E BOTÕES */
#content-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6%;
}

#form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#input-search {
    width: 100%;
    padding: 3%;
    border: 2px solid var(--cor-preto);
    border-radius: 4px;
    background-color: #DBD9D9;
    font-size: clamp(16px, 5vw, 24px);
}

#input-search::placeholder {
    color: #595959;
}

#buttons {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons-movement {
    display: flex;
    gap: 10px;
    width: 40%;
}

.buttons-movement button {
    background-color: #383838;
    padding: 10% 10%;
    border: var(--tamanho-borda-botoes) solid var(--cor-preto);
    border-radius: 5px;
    box-shadow: var(--tamanho-sombra) var(--tamanho-sombra) 0 var(--cor-preto);
    transition: transform 0.1s, box-shadow 0.1s; /*Adiciona duas transições*/
}

.buttons-movement button:active{
    transform: translate(var(--tamanho-sombra), var(--tamanho-sombra));
    box-shadow: none;
}

.buttons-movement button img {
    width: 100%;
}

.buttons-action {
    width: 30%;
}

.btn-details,
#btn-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 6.7%;
    padding: 13%;
    box-shadow: var(--tamanho-sombra) var(--tamanho-sombra) 0 var(--cor-preto);
    transition: transform 0.1s, box-shadow 0.1s; /*Adiciona duas transições*/
}

.btn-details:active, #btn-submit:active{
    transform: translate(var(--tamanho-sombra), var(--tamanho-sombra));
    box-shadow: none;
}

#btn-submit {
    height: 100%;
    padding: 13%;
}

.btn-details,
#btn-submit {
    background-color: var(--cor-amarelo);
    border: var(--tamanho-borda-botoes) solid var(--cor-preto);
    border-radius: 50%;
}

.div-details {
    position: absolute;
    top: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 12%;
}

.div-search {
    position: absolute;
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    top: 80%;
    right: 7%;
    width: 12%;
}

.div-details p,
.div-search p {
    padding-left: 0.3em;
    font-size: clamp(10px, 4vw, 16px);
}