/* FONTE */
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

/* VARIAVEIS */
:root {
    --cor-vermelha: #CC0000;
    --cor-branco: #FFFFFF;
    --cor-preto: #1A1A1A;
    --cor-cinza: #848484;
    --cor-amarelo: #E8B923;
    --cor-verde-escuro: #1A2A1A;
    --cor-verde-claro: #88CC88;
    --tamanho-borda: clamp(4px, 1.8vw, 10px);
    --tamanho-borda-botoes: clamp(1px, .5vw, 2px);
    --tamanho-sombra: clamp(1px, .7vw, 4px);
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Jersey 10';
}

body {
    min-height: 100vh;
    background: linear-gradient(to bottom, #2E86DE 0%, #54A8E8 35%, #BEE3F8 70%, #FFFFFF 100%);
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1, h2, h3, h4{
    font-weight: normal;
}

button{
    cursor: pointer;
}

main{
    view-transition-name: main;
}

@view-transition{
    navigation: auto;
}

@keyframes leaving{
    to{
        transform: translateY(100%);
    }
}

@keyframes entering{
    from{
        transform: translateY(100%);
    }
}

::view-transition-group(root){
    animation-duration: 2s;
}

::view-transition-old(main){
    animation-name: leaving;
}

::view-transition-new(main){
    animation-name: entering;
}