/* FONTE */
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

/* VARIAVEIS */
:root {
    --cor-vermelha: #CC0000;
    --cor-branco: #FFFFFF;
    --cor-preto: #1A1A1A;
    --cor-cinza: #848484;
    --cor-amarelo: #E8B923;
    --cor-verde-escuro: #1A2A1A;
    --cor-verde-claro: #88CC88;
    --tamanho-borda: clamp(4px, 1.8vw, 10px);
    --tamanho-borda-botoes: clamp(1px, .5vw, 2px);
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Jersey 10';
}

body {
    min-height: 100vh;
    background: linear-gradient(to bottom, #2E86DE 0%, #54A8E8 35%, #BEE3F8 70%, #FFFFFF 100%);
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1, h2, h3, h4{
    font-weight: normal;
}

#sound{
    background-color: var(--cor-vermelha);
    position: absolute;
    right: 15px;
    top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .6em;
    border-radius: 50%;
    border: 4px solid var(--cor-preto);
}

#sound svg{
    width: 2.5em;
}